.container {
  margin:20px 50px;
  border: 1px solid black;
  padding: 24px 12px;
  border-radius: 6px;
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  column-gap: .5rem;
  row-gap: .5rem;
  overflow: hidden;
  background-color: var(--white);
  }