:root {
  --color-background-light: #161515d2;
  --color-background-dark: #000000;
  --red:#e61f1f;
  --red-light:#eb4646;
  --white: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  background-color: var(--white);
}

h1 {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
}

h2,h3,h4,h5,h6 {
  font-weight: 400;
}

p {
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}