:root {
  --red:#e61f1f;
  --white: #e0d3d3;
  --background: #141414;
  --background-light:#3d3d3dd2;
  --color-background-light: #09090b;
  --color-background-dark: #040405;  
}

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 6px;
}
::-webkit-scrollbar {
  width: 8px;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-background-dark); 
}

  h1 {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
}

h2,h3,h4,h5,h6 {
  font-weight: 400;
}

p {
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}