.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo{
  display: flex;
}

.title {
  color: #fff;
  font-size: 3rem;
}

.title_icon{
  color:#E61F1F
}

