.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid red;
  border-width: 2px;
}

.logo{
  display: flex;
}

.title {
  color: var(--white);
  font-size: 3rem;
  letter-spacing: 12px;
}

.camera{
  color: var(--red);
}

.title_icon{
  color: red;
  font-size:3.5rem;
  margin-right: 12px;
}


